
# Database
POSTGRES_USER=postgres

EVENT_POSTGRES_PASSWORD=CHANGE_ME
BOOKING_POSTGRES_PASSWORD=CHANGE_ME
AUTHORIZATION_POSTGRES_PASSWORD=CHANGE_ME

EVENT_POSTGRES_DB=events_db
BOOKING_POSTGRES_DB=bookings_db
AUTHORIZATION_POSTGRES_DB=authorization_db

BOOKING_DB_CONNECTION=Host=postgres-event;Port=5432;Database=bookings_db;Username=postgres;Password=CHANGE_ME
EVENT_DB_CONNECTION=Host=postgres-booking;Port=5432;Database=events_db;Username=postgres;Password=CHANGE_ME
AUTHORIZATION_DB_CONNECTION=Host=postgres-authorization;Port=5432;Database=authorization_db;Username=postgres;Password=CHANGE_ME


# JWT Settings
JWT_KEY=jwt-key-32-characters
JWT_ISSUER=your-api
JWT_AUDIENCE=your-clients
JWT_EXPIRY_MINUTES=60